<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LuckyTrip-technical.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A9D5CAE1F59A31300852120</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A9D5CC21F59A31400852120</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A9D5CCD1F59A31400852120</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
